{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<p>
{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
</p>
<div class="form-actions">
  <a href="{{ path("fos_user_security_login") }}" class="btn red btn-outline"> Back </a>
</div>
{% endblock %}

