{% trans_default_domain 'FOSUserBundle' %}

<!-- BEGIN FORGOT PASSWORD FORM -->
<form class="forget-form" action="{{ path('fos_user_resetting_send_email') }}" method="post">
    <h3>Forget Password ?</h3>
    <p> Enter your e-mail address below to reset your password. </p>
    <div class="form-group">
        <div class="input-icon">
            <i class="fa fa-envelope"></i>
            <input id="username" name="username" required="required" class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="{{ 'resetting.request.username'|trans }}" /> </div>
    </div>
    <div class="form-actions">
        <a href="{{ path("fos_user_security_login") }}" class="btn red btn-outline"> Back </a>
        <button type="submit" class="btn green pull-right"> {{ 'resetting.request.submit'|trans }} </button>
    </div>
</form>
<!-- END FORGOT PASSWORD FORM -->